
html,
body {
    padding: 0;
    margin: 0;
    background: #f9f9f9;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: #484848;
    min-width: 768px;
}

.clearfix {
    clear: both;
}

ul {
    padding: 0 5px;
    margin: 0 20px;
}

ul li {
    margin: 10px 0;
    padding: 0;
}

/********************************************************************
 * Header
 ********************************************************************/

#main {
    position: relative;
    min-height: 100%;
}

.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: #222;
    color: #ddd;
    min-width: 768px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    z-index: 10;
}

.header {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 20px;
    overflow: hidden;

}

.header a {
    display: inline-block;
    color: #ddd;
    height: 50px;
    text-decoration: none;
    line-height: 50px;
    padding: 0 10px;
}

.header a:first-child {
    padding-left: 0;
}

.header a:last-child {
    padding-right: 0;
}

.header a.logo {
    color: #00d8ff;
    font-size: 22px;
}

.header a.logo img {
    vertical-align: middle;
    margin-right: 10px;
    height: 28px;
    margin-bottom: 4px;
}

.header a.logo:hover {
    color: #00d8ff;
}

.header a:hover {
    color: #fff;
}

/********************************************************************
 * Content
 ********************************************************************/

 .content-wrapper {
    padding: 50px 0;
}

.content {
    margin: 20px auto;
    max-width: 960px;
    padding: 0 20px;
}

.code-preview::after {
    content: '';
    clear: both;
}

.code {
    background: #f8f5ec;
    border: 1px solid rgba(16,16,16,0.1);
    padding: 10px;
    font-family: monospace;
}

.code .CodeMirror {
    background: #f8f5ec;
    height: auto;
}

.code .CodeMirror .CodeMirror-scroll {
    height: auto;
    max-height: 300px;
}

.inline-code {
    font-family: monospace;
    background: rgba(0,0,0,0.04);
    padding: 1px 3px;
}

/********************************************************************
 * Side Menu
 ********************************************************************/

.side-menu {
    width: 200px;
    float:left;
}

.side-menu h4:first-child {
    margin-top: 0;
}

.side-menu h4 {
    margin: 20px 0 10px 0;
}

.side-menu a {
    display: block;
    margin: 0 0 2px 0;
    color: #999;
    text-decoration: none;
}

.side-menu a:hover {
    text-decoration: underline;
}

.side-content {
    margin-left: 220px;
}

/********************************************************************
 * Examples
 ********************************************************************/

.preview {
    background: #fff;
    border: 1px solid rgba(16,16,16,0.1);
    padding: 10px;
}

.code-preview .code {
    margin-right: 400px;
    display: block;
    height: 300px;
}

.code-preview .right-side {
    float: right;
    width: 390px;
    margin-bottom: 20px;
}

.code-preview .right-side .data {
    background: #f8f5ec;
    border: 1px solid rgba(16,16,16,0.1);
    padding: 10px;
    margin-top: 10px;
    font-family: monospace;
    white-space: pre;
}

form {
    padding: 0;
    margin: 0;
}

form .action,
form .field {
    padding: 5px 0;
}

form label.error {
    display: block;
    margin-top: 4px;
    font-size: 14px;
    color: red;
}

form label.hint {
    display: block;
    color: #888;
    margin-top: 4px;
    font-size: 14px;
    font-style: italic;
}

form h4 {
    margin: 0 0 10px 0;
}

.fieldset.friend {
    background: #FBFBFB;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 1px 0 #CCC;
}

.fieldset.friend b {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    text-decoration: underline;
}

/********************************************************************
 * Documentation
 ********************************************************************/

#documentation .documentation h4 {
    margin: 10px 0 10px 0;
}

#documentation .documentation + .documentation {
    margin-top: 20px;
}

#documentation h4 {
    position: relative;
}

#documentation h4 .anchor {
    position: absolute;
    top: -80px
}

/********************************************************************
 * Footer
 ********************************************************************/

.footer-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    background: #222;
    color: #ddd;
}

.footer {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 20px;
    line-height: 50px;
}

.footer a {
    color: #ddd;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
